body {
    background-color: #2d2d2d;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    font-weight: 100;
}

h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 38px;
}

h2 {
  font-size: 1.5em;
}

.navigation {
    width: 200px;
    text-transform: uppercase;
    float: right;
}

.navigation ul {
    background-color: #37383a;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation .header {
    padding: 15px;
    background-color: #4e5053;
}

.navigation li {
    padding: 15px;
}

.navigation .selected {
    background-color: #9061b2;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding-left: 10px;
}

.pubDate {
    display:inline;
}

.main {
    padding: 10px;
    font-size: 14px;
}

.pure-menu {
    background-color: black;
}
.newsItem {
    margin: 3px;
}